
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared styles */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.dark-1{
    color: #181818;
}
.dark-3{
    color: #757575;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
     color: #757575;
     gap: 30px;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.text-center{
    text-align: center;
}
/* header */
.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
}
.banner-profile-pic{
    width: 580px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 108px;
    margin-bottom: 108px;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}
.about-items{
    display: flex;
    justify-content: space-around;
}
/* skills style */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
padding: 30px;
border-radius: 5px;
box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}